<div class="jumbotron jumbotron-fluid jumbo-media">
  <div class="container jumbo-header">
    <h1 class="display-3"><b>MediaTrak</b></h1>
    <p class="lead"><b>Create a running to-do list of shows and movies you've been meaning to check out!</b></p>
  </div>
  <div class = "container media-input">
    <div class = "row">
      <div class = "col-md-12">
        
          <form class="create-update-form" action="/" method="POST">
            
            <div class="form-group">
              
              <label for="ca"><h3>Add Media Name:</h3></label>
              <input class="form-control form-control-lg" type="text" id="ca" name="media_name" placeholder="Add media to watchlist here.">
              
            </div>

            <div class="form-group">
              <label for="ca"><h3>Personal Rating:</h3></label>
              <input class="form-control form-control-lg" type="text" id="ca" name="personal_rating" placeholder="Enter a value from 1 -10">
              
            </div>

            <div class="form-group">
              <label for="slee"></label><br>
              <input type="radio" name="viewed" value="1" checked> Add to WatchList<br>
              <input type="radio" name="viewed" value="0"> Already Viewed
            </div>



            <button type="submit" class="btn btn-lg btn-block main-button">Add Media</button>
          </form>
      </div>
    </div>
  </div>
</div>

<div class = "container que-media">
  <div class = "row">
    <div class = "col-md-12 "></div>
      <h1>My WatchList</h1>
        <ol>
          {{#each media}}
            {{#if this.viewed}}
            <div class = "col-sm-6">
              <li>                
                <div class="card">
                  <img class="card-img-top" src="..." alt="">
                    <div class="card-body">
                      <h4 class="card-title">Media Name: {{this.media_name}}</h4>
                      <h4 class="card-text">Personal Rating: {{this.personal_rating}}</h4>
                    </div>
                    <div class="card-body">
                      <form action="/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="viewed" value="false">
                        <button type="submit" class="btn btn-lg btn-block main-button">Already Viewed</button>
                        
                      </form>
                      {{> media/delete-media}}
                    </div>
                </div>                               
             </li>
             </div>
            {{/if}}
          {{/each}}
        </ol>
    </div>
  </div>
</div>

<div class = "container completed-media">
  <div class = "row">
    <div class = "col-md-12 "></div>
      <h1>Media I've Seen</h1>
        <ol>
          {{#each media}}
            {{#unless this.viewed}}
            <div class = "col-sm-6">
              <li>                
                <div class="card">
                  <img class="card-img-top" src="..." alt="">
                    <div class="card-body card-information">
                      <h4 class="card-title">Media Name: {{this.media_name}}</h4>
                      <h4 class="card-text">Personal Rating: {{this.personal_rating}}</h4>
                    </div>
                    <div class="card-body">
                      <form action="/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="viewed" value="true">
                        <button type="submit" class="btn btn-lg btn-block main-button">Haven't Viewed Yet</button>
                        
                      </form>
                      {{> media/delete-media}}
                    </div>
                </div>                               
             </li>
             </div>
            {{/unless}}
          {{/each}}
        </ol>
    </div>
  </div>
</div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">@garrettmoore</p>
      </div>
    </footer>

{{!-- 
<div class = "container">
  <div class = "row">
    <div class = "col-md-12 completed-media">
      <h2>Media I've Seen!</h2>
        <ol>
          {{#each media}}
            {{#unless this.viewed}}
              <li>
                {{this.media_name}}
                {{this.personal_rating}}

                <form action="/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="viewed" value="true">
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Haven't Viewed Yet</button>
                </form>

                {{> media/delete-media}}
              </li>
            {{/unless}}
          {{/each}}
        </ol>
    </div>
  </div>
</div> --}}




