<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">MediaTrak</h1>
    <p class="lead">Create a running to-do list of shows, movies, and games you've been meaning to check out!</p>
  </div>
</div>
<div class = "container">
  <div class = "row">
    <div class = "col-md-12">
      <h2>Add Media</h2>
        <form class="create-update-form" action="/" method="POST">

          <div class="form-group">
            <label for="ca">Media Name:</label>
            <input type="text" id="ca" name="media_name">
          </div>

          <div class="form-group">
            <label for="slee">Where to add media?</label><br>
            <input type="radio" name="viewed" value="1" checked> Add to WatchList<br>
            <input type="radio" name="viewed" value="0"> Already Viewed
          </div>

          <div class="form-group">
            <label for="ca">Personal Rating (1 - 10):</label>
            <input type="text" id="ca" name="personal_rating">
          </div>

          <button type="submit">Add Media</button>
        </form>
    </div>
  </div>
</div>
<div class = "container que-media">
  <div class = "row">
    <div class = "col-md-12"></div>
      <h2>My WatchList</h2>
        <ol>
          {{#each media}}
            {{#if this.viewed}}
              <li>
                <div class = "col-sm-6">
                <div class="card">
                  <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">{{this.media_name}}</h4>
                      <p class="card-text">{{this.personal_rating}}</p>
                    </div>
                    <div class="card-body">
                      <form action="/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="viewed" value="false">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Already Viewed</button>
                        {{> media/delete-media}}
                      </form>
                    </div>
                </div> 
                </div>              
             </li>
            {{/if}}
          {{/each}}
        </ol>
    </div>
  </div>
</div>



<div class = "container">
  <div class = "row">
    <div class = "col-md-12 completed-media">
      <h2>Media I've Seen!</h2>
        <ol>
          {{#each media}}
            {{#unless this.viewed}}
              <li>
                {{this.media_name}}
                {{this.personal_rating}}

                <form action="/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="viewed" value="true">
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Haven't Viewed Yet</button>
                </form>

                {{> media/delete-media}}
              </li>
            {{/unless}}
          {{/each}}
        </ol>
    </div>
  </div>
</div>




